<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
  </configSections>

  <connectionStrings>
    <add name="Subscription" connectionString="Data Source=NB-BAEL-PH\MSSQL2014;Initial Catalog=esb.shop;User ID=adminbm;Password=admin" providerName="System.Data.SqlClient" />
    <add name="ShuttleQueue" connectionString="Data Source=NB-BAEL-PH\MSSQL2014;Initial Catalog=esb.shop;User ID=adminbm;Password=admin" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <serviceBus>
    <inbox workQueueUri="sql://ShuttleQueue/table-subscriber" errorQueueUri="sql://ShuttleQueue/table-queue-error" />
  </serviceBus>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>