<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Businessmall.Application.DataSyncServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Businessmall.Application.DataSyncServices.Properties.Settings>
            <setting name="DBConnection" serializeAs="String">
                <value>Data Source=NB-BAEL-PH\MSSQL2014;Initial Catalog=esb.businessmall;User ID=adminbm;Password=admin</value>
            </setting>
        </Businessmall.Application.DataSyncServices.Properties.Settings>
    </applicationSettings>
</configuration>