@model Shop.ViewModels.Products.ShopListProductsViewModel
@{
    ViewBag.Title = "Index";
}

Table for Products here

<table class="table" id="products-list-table">
    @if (Model.Products.Count <= 0) { 
            <tr> No products available</tr>
    }else{
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Available Quantity</th>
            </tr>
        </thead>
    }
    @foreach (var product in Model.Products) { 
        <tr>
            <td>@product.name</td>
            <td>@product.price</td>
            <td>@product.available_qty</td>
            <td>
                <a href="@Url.Action("Order", "Product", new {id = product.Id })">
                    Order
                </a>
            </td>
        </tr>
    }
</table>
