@model Businessmall.Application.CommandResults.CheckoutShopOrderCommandResult

@{
    ViewBag.Title = "CheckoutOrder";
}

<h2>CheckoutOrder</h2>

Waiting...

Order id : @Model.order_id

@{
    //insert ajax to check if the order is confirmed
    }
