@model Businessmall.Application.QueryResults.Orders.OrderDetailsQueryResult

 <div class="span-12">
        <div class="span-6">
            Top left
        </div>
        <div class="span-6 last">
            Top right
        </div>
        <div class="span-6">
            Bottom left
        </div>
        <div class="span-6 last">
            Bottom right
        </div>
    </div>
    <div class="span-12 last">
        <span><strong>Order ID: </strong> @Model.orderID</span><br />
        <span><strong>Product Name: </strong> @Model.productName</span><br/>
        <span><strong>Ordered Quantity: </strong> @Model.quantity</span><br/>
        <span><strong>Product Price: </strong> @Model.price</span><br/>
    </div>